.container_{:id => "container_"}
	.container{:id => "container"}
	.containerreact1{:id => "containerreact1"}
	.containerreact2{:id => "containerreact2"}
	.content{:id => "content"}
	.contentreact1{:id => "contentreact1"}
	.contentreact2{:id => "contentreact2"}

%hr

= react_component("Container", {kaplancustomtext: "Container: this text is coming from root.html.haml"})

= react_component("Content", {kaplancustomtext: "Content: this text is coming from root.html.haml"})

